/* Button styles */
button {
  width: 100%;
  padding: var(--spacing-sm);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--primary-hover);
}

button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}
